# Backend
backend/node_modules/
backend/.env
backend/coverage/

# Frontend
frontend/node_modules/
frontend/.env.local
frontend/.next/
frontend/public/sw.js
frontend/public/workbox-*.js
frontend/scripts/

# General
.DS_Store
*.log
